<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>El Coliseo Deportivo</title>
        <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    </head>
	<body>
		<div th:replace="fragments/header :: header"></div>
	
		<div class="container mt-5">
			<h2 style="color:white;">Deportes</h2>
		</div>
		<!-- FORMULARIO REGSITRAR-->
        <div class="container mt-5" id="formulario" >

        <form class="row g-3 "  th:action="@{/sport/registrar}" method="post" th:object="${sport}">
        	
        	<!--DATOS-->
        	
        	<div class="col-md-1">
                <label for="sportid" class="form-label">ID:</label>
                <input type="text" class="form-control" th:field="*{sportId}">
            </div>
                   	
            <div class="col-md-3 form-group">
              	<label for="name" class="form-label">Nombre:</label>
              	<input type="text" class="form-control" id="name" value="Futbol" required th:field="*{sportName}">
              	<div class="alert alert-danger" th:if="${#fields.hasErrors('sportName')}" th:errors="*{sportName}"></div>
            	<div class="valid-feedback">
                	Correcto!
            	</div>
            </div>
                        
            <!--SUBMIT-->
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/sport/listar" class="btn btn-danger">Cancelar</a>
            </div>
        
        </form>

      	</div>
      	
      	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
       
	</body>
	
</html>